<div>  
  <div id="list-container">
    <div id="list-header">
      <h3>
        <fl-editable-text ng-model="list.title" on-save="saveList()"></fl-editable-text>
      </h3>
    </div>
    <div id="list-body" ng-controller="FlipListItemsController">
      <ul id="list-items" fl-sortable on-sort="orderItems(sortOrderUpdates)">
        <li ng-repeat="item in items">
          <input type="hidden" name="id" value="{{item.id}}">
          <fl-editable-text ng-model="item.name" on-save="saveItem($index)"></fl-editable-text>
          <button ng-click="deleteItem(item.id)">Delete</button>
          sort_order: {{item.sort_order}}
        </li>
      </ul>
      <ul>
        <li>
          <form name="newItemForm" ng-submit="createItem(newItemName)">
            <label for="name">New Item:</label>
            <input name="name" type="text" ng-model="newItemName" required>
            <input name="submit" type="submit">
          </form>
        </li>
      </ul>
      
      <fl-model-debug ng-model="list"></fl-model-debug>
      <fl-model-debug ng-model="items"></fl-model-debug>
    </div>
    <div id="list-footer">
      <a href="/">Back</a>
    </div>
  </div>
</div>