<div>  
  <div id="list-container">
    <div id="list-header">
      <h3>{{list.title}}</h3>
    </div>
    <div id="list-body">
      <ul id="list-items">
        <li ng-repeat="item in list.items">
          <span><a ng-href="#/lists/{{list.id}}/items/{{item.id}}">{{item.name}}</a></span>
        </li>
      </ul>
    </div>
    <div id="list-footer">
      <a href="/">Back</a>
    </div>
  </div>
</div>