<div>  
  <div id="list-container">
    <div id="list-header">
      <h3>My Lists</h3>
    </div>
    <div id="list-body">
      <ul id="my-lists">
        <li ng-repeat="list in lists">
          <span><a ng-href="#/lists/{{list.id}}">{{list.title}}</a></span>
          <button ng-click="deleteList(list.id)">Delete</button>
        </li>
        <li>
          <form name="newListForm" ng-submit="createList(newListTitle)">
            <label for="title">New List:</label>
            <input name="title" type="text" ng-model="newListTitle" required>
            <input name="submit" type="submit">
          </form>
        </li>
      </ul>
    </div>
    <div id="list-footer">
    </div>
  </div>
</div>