<div>
  <h3>Login</h3>
  <form>
    <label for="email">Email:</label>
    <input type="email" name="email" ng-model="login.email" required>
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" ng-model="login.password" required>
    <br />
    <input type="button" value="Login" ng-click="login()">

  </form>
</div>
